# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# ============================
# Docker
# ============================
*.pid
*.seed
